{{page-title (t "index.page-title")}}

{{#if (media 'isDesktop')}}
<div class="navbar">
  <LinkTo @route="index"><img src="logo.svg" alt="{{t "menu.logo-alt"}}"></LinkTo>
  <nav>
    <ul>
      <li>
        <LinkTo @route="index">{{t "menu.home"}}</LinkTo>
      </li>
      <li>
        <LinkTo @route="contribute">{{t "menu.contribute"}}</LinkTo>
      </li>
      <li>
        <LinkTo @route="glossary">{{t "menu.glossary"}}</LinkTo>
      </li>
      <li>
        <LinkTo @route="resources">{{t "menu.resources"}}</LinkTo>
      </li>
      <li>
        <LinkTo @route="trusted-ten">{{t "menu.ten"}}</LinkTo>
      </li>
      <li>
        <select aria-label={{t "menu.language"}} name="locale" {{on 'change' this.changeLocale}}>
          {{#each this.locales as |model|}}
          <option selected={{if (eq model this.activeLocale) "selected"}} value={{model}}>{{countryflag model}} {{language model}}</option>
          {{/each}}
        </select>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
{{else}}
<MobileMenuWrapper as |mmw|>

  <mmw.Content class="mobile-container">
    <div class="mobile-bar">
      <LinkTo @route="index"><img src="logo.svg" alt="{{t "menu.logo-alt"}}"></LinkTo>
      <div>
        <select aria-label={{t "menu.language"}} name="locale" {{on 'change' this.changeLocale}}>
            {{#each this.locales as |model|}}
            <option selected={{if (eq model this.activeLocale) "selected"}} value={{model}}>{{countryflag model}} {{language model}}</option>
            {{/each}}
          </select>
        <mmw.Toggle class="menu-button" aria-label="{{t "menu.aria-label"}}">
          <FaIcon @icon="bars"  alt="Hamburger menu"/>
        </mmw.Toggle>
      </div>
    </div>
    {{outlet}}
  </mmw.Content>
   <mmw.MobileMenu @type="right" as |mm|>
    <div class="menu mobile">
      {{!-- template-lint-disable no-duplicate-landmark-elements --}}
      <nav>
        <ul>
          <li>
            <mm.LinkTo @route="index">{{t "menu.home"}}</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="contribute">{{t "menu.contribute"}}</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="glossary">{{t "menu.glossary"}}</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="resources">{{t "menu.resources"}}</mm.LinkTo>
          </li>
          <li>
            <mm.LinkTo @route="trusted-ten">{{t "menu.ten"}}</mm.LinkTo>
          </li>
        </ul>
      </nav>
    </div>
  </mmw.MobileMenu>

</MobileMenuWrapper>
{{/if}}

<EpmModalContainer />
