{{page-title "Bucketlist"}}
<dialog>
  <p id="modal-description"></p>
  <button type="button" class="button" {{on 'click' this.hideModal}}>Close</button>
  <button type="button" class="button complete" {{on 'click' this.completeSquare}}>Complete</button>
</dialog>
<p>Click a square to get more information about it, and press and hold to complete it!</p>
<div class="bingo-card">
  {{#each this.squares as |item| }}
    <button type="button" class="cell {{if item.completed 'completed'}}" {{on 'click' (fn this.selectSquare item)}}><FaIcon @icon={{item.icon}} /><br><p class="title">{{item.title}}</p>{{item.description}}</button>
  {{/each}}
</div>