{{page-title "Contribute"}}
<div class="callout">
  <h2>How to</h2>
  <h1 class="callout-focus">Be an Ally</h1>
</div>
<p class="intro">Below you can explore different ways to contribute to Diversity, Equity and Inclusion (DEI) at your organisation. If you find a role that suits you, you can add it to ‘my roles’.</p>

<h3 class="cards-title">My Roles</h3>
<div class="bingo-card">
  {{#each this.roles as |item|}}
    <button type="button" style={{blobcolor item.title}} class="cell {{if item.completed 'completed'}}" {{on 'click' (fn this.selectSquare item)}}>
      {{svg-jar item.icon class='illustration'}}
      <br><p class="title">{{item.title}}</p>{{item.description}}</button>
  {{/each}}
</div>

<h3 class="cards-title">Different ways to contribute</h3>
<div class="bingo-card">
  {{#each this.squares as |item| }}
    <button type="button"  style={{blobcolor item.title}}  class="cell {{if item.completed 'completed'}}" {{on 'click' (fn this.selectSquare item)}}>      {{svg-jar item.icon class='illustration'}}
<br><p class="title">{{item.title}}</p>{{item.description}}</button>
  {{/each}}
</div>