{{page-title (t "menu.contribute")}}
<Callout @subtitle={{t "contribute.subtitle"}}>{{t "contribute.title"}}</Callout>

<p class="intro">{{t "contribute.welcome"}}</p>

<h2 class="cards-title">{{t "contribute.my-roles"}}</h2>
<div class="bingo-card">
  {{#unless this.roles}}<p class="intro no-roles">{{t "contribute.no-roles"}}</p>{{/unless}}
  {{#each this.roles as |item|}}
    <button type="button" style={{blobcolor (t item.title)}} class="cell {{if item.completed 'completed'}}" {{on 'click' (fn this.selectSquare item)}}>
      {{svg-jar item.icon class='illustration'}}
      <br><p class="title">{{t item.title}}</p>{{t item.description}}</button>
  {{/each}}
</div>

<h2 class="cards-title">{{t "contribute.bingo-title"}}</h2>
<div class="bingo-card">
  {{#each this.squares as |item| }}
    <button type="button"  style={{blobcolor (t item.title)}}  class="cell {{if item.completed 'completed'}}" {{on 'click' (fn this.selectSquare item)}}>{{svg-jar item.icon class='illustration'}}
<br><p class="title">{{t item.title}}</p>{{t item.description}}</button>
  {{/each}}
</div>