{{page-title "Glossary"}}
<div class="search">
  <label>
    <span>Search:</span>
    <Input @value={{this.query}} class="light" />
  </label>
</div>
<div class="definition-container">
  {{#each this.results as |item|}}
    {{!-- template-lint-disable no-triple-curlies --}}
    <div class="row"><a href="#{{item.title}}" id={{item.title}} class="title">{{item.title}}</a><p class="definition">{{{item.definition}}}</p></div>
  {{/each}}
</div>