{{page-title "Glossary"}}
<div class="callout">
  <h2>Find the</h2>
  <h1 class="callout-focus">Definition</h1>
</div>
<p class="intro">Not sure what some terms mean? No problem! In this overview you will find all terms that you may encounter within your organization</p>
<div class="search">
  <label>
    <div class="search-bar">
      <FaIcon class="search-icon" @icon='search' />
      <Input @value={{this.query}} class="search-input light"  placeholder="Type here to filter the glossary"/>
    </div>
  </label>
</div>
<div class="definition-container">
  {{#each this.results as |item|}}
    {{!-- template-lint-disable no-triple-curlies --}}
    <div class="row"><div class="caps">{{item.caps}}</div><div><h3 class="glossary-title">{{item.title}}<a href="#{{item.title}}" id={{item.title}}><FaIcon @icon="link" class="link-icon"/></a></h3><p class="definition">{{{item.definition}}}</p></div></div>
  {{/each}}
</div>
{{svg-jar 'index-illustration' class="large-illustration"}}