{{page-title "Glossary"}}
<div class="callout">
  <h2>Find the</h2>
  <h1 class="callout-focus">Definition</h1>
</div>
<div class="search">
  <label>
    <div class="search-bar">
      <FaIcon class="search-icon" @icon='search' />
      <Input @value={{this.query}} class="search-input light"  placeholder="Type here to filter the glossary"/>
    </div>
  </label>
</div>
<div class="definition-container">
  {{#each this.results as |item|}}
    {{!-- template-lint-disable no-triple-curlies --}}
    <div class="row"><a href="#{{item.title}}" id={{item.title}} class="title">{{item.title}}</a><p class="definition">{{{item.definition}}}</p></div>
  {{/each}}
</div>