{{page-title (t "menu.resources")}}
<Callout @subtitle={{t "resources.subtitle"}}>{{t "resources.title"}}</Callout>

<p class="intro">{{t "resources.welcome"}}</p>

<div class="resource-container">
  <div class="resource-card">
    <div class="resource-header">
      {{svg-jar 'play'}}
      <h3>{{t "resources.watch"}}</h3>
    </div>
    <h4>{{t "resources.diversity"}}</h4>
    <ul class="resource-list">
      <li><a
          lang="en" href="https://www.ted.com/playlists/670/a_blueprint_for_diversity_in_the_workplace"
        >Diversity TED Talks playlist
        </a></li>
      <li><a lang="en" href="https://youtu.be/bqQJv4bvrPI">The myth of bringing your full, authentic self to work
        </a></li>
    </ul>
    <h4>{{t "resources.design"}}</h4>
    <ul class="resource-list">
      <li>
        <a lang="en" href="https://youtu.be/SYu6wnZhrBU">Mismatch: How Inclusion Shapes Design
        </a>
      </li>
      <li>
        <a lang="en" href="https://www.ted.com/playlists/372/designing_for_disability">"Designing for disability" TED Talks playlist
        </a>
      </li>
    </ul>
    <h4>{{t "resources.types"}}</h4>
    <ul class="resource-list"><li><a lang="en" href="https://youtu.be/vSLdzdwlb_I">Autism: How to be normal (and why not to be)
        </a></li>
      <li><a lang="en" href="https://youtu.be/VdNN5GrD5cM">It's Not Easy Seeing Green: The Complexities of Color Blindness
        </a></li>
      <li><a lang="en" href="https://www.youtube.com/watch?v=lT3GBO4Sti4">To Bi or not to Bi (NL)</a></li>
     </ul>
  </div>

  <div class="resource-card">
    <div class="resource-header">
      {{svg-jar 'listen'}}
      <h3>{{t "resources.listen"}}</h3>
    </div>
    <h4>{{t "resources.diversity"}}</h4>
    <ul class="resource-list">
      <li><a lang="en" href="https://hbr.org/2018/01/podcast-women-at-work">Women at Work podcast
        </a></li>
    </ul>
    <h4>{{t "resources.community"}}</h4>
      <ul class="resource-list">
        <li>
          <a
            lang="en" href="https://open.spotify.com/show/0gt7vAPAT4LtDt4mGBIfOt?si=a6bQ18DRRiu0012DIJEbUA"
          >Survival of the Kindest podcast
          </a>
        </li>
      </ul>
  </div>

  <div class="resource-card">
    <div class="resource-header">
      {{svg-jar 'read'}}
      <h3>{{t "resources.read"}}</h3>
    </div>
    <h4>{{t "resources.diversity"}}</h4>
    <ul class="resource-list">
    <li>
      <a
        lang="en" href="https://hbr.org/amp/2021/02/stop-telling-women-they-have-imposter-syndrome"
      >"Stop telling women they have imposter syndrome"
      </a>
    </li>
    <li>
      <a
        lang="en" href="https://www.crowdstrike.com/blog/embracing-who-you-are-with-zoe-bijl/"
      >A Conversation on the Trans Experience and Embracing Who You Really Are
      </a>
    </li>
    <li>
      <a lang="en" href="https://www.goodreads.com/book/show/52326253-rebel-ideas?from_search=true&from_srp=true&qid=KCBfx62rnJ&rank=1">Rebel Ideas: The Power of Diverse Thinking</a>
    </li>
    <li>
      <a lang="en" href="https://www.goodreads.com/book/show/62104693-how-to-be-an-inclusive-leader-second-edition?from_search=true&from_srp=true&qid=1LZx6Nqu6L&rank=2">How to Be an Inclusive Leader: Your Role in Creating Cultures of Belonging Where Everyone Can Thrive
      </a>
    </li>
    <li>
      <a lang="en" href="https://www.goodreads.com/book/show/56332691-unbias?from_search=true&from_srp=true&qid=wSDHDAzILY&rank=1">UNBIAS: Addressing Unconscious Bias at Work</a>
    </li>
    <li>
      <a lang="en" href="https://www.goodreads.com/book/show/41104077-invisible-women?from_search=true&from_srp=true&qid=GDI78RHlXP&rank=1">Invisible Women: Data Bias in a World Designed for Men
      </a>
    </li>
    <li>
      <a
        lang="nl" href="https://npokennis.nl/longread/7752/hoe-bewust-ben-jij-je-van-je-vooroordelen"
      >Hoe bewust ben jij je van je vooroordelen? (NL)
      </a>
    </li>
    <li>
      <a
        lang="nl" href="https://www.movisie.nl/sites/movisie.nl/files/2020-07/regenboogtaaltips_03.pdf"
      >Regenboog Taaltips (NL)
      </a>
    </li>
  </ul>
  </div>
</div>