{{page-title (t "ten.pagetitle")}}
<Callout @subtitle={{t "ten.subtitle"}}>{{t "ten.title"}}</Callout>
            <p class="intro">{{t "ten.intro" htmlSafe=true}}</p>

<div class="ten-grid">
    <p id="name">{{t "ten.name"}}</p>
    <p>{{t "ten.gender"}}</p>
    <p>{{t "ten.race"}}</p>
    <p>{{t "ten.age"}}</p>
    <p>{{t "ten.sex"}}</p>
    <p>{{t "ten.ed"}}</p>
    <p>{{t "ten.language"}}</p>
    <p>{{t "ten.relation"}}</p>
    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>

    <input aria-label={{t "ten.name"}} type="input"/>
    <input aria-label={{t "ten.gender"}} type="checkbox"/>
    <input aria-label={{t "ten.race"}} type="checkbox"/>
    <input aria-label={{t "ten.age"}} type="checkbox"/>
    <input aria-label={{t "ten.sex"}} type="checkbox"/>
    <input aria-label={{t "ten.ed"}} type="checkbox"/>
    <input aria-label={{t "ten.language"}} type="checkbox"/>
    <input aria-label={{t "ten.relation"}} type="checkbox"/>
</div>
<h2 class="cards-title">{{t "ten.reflection"}}</h2>
<p class="intro">{{t "ten.reflection-text" htmlSafe=true}}</p>